<mat-card class="post">
    <mat-card-header>
        <div mat-card-avatar class="post-image"></div>
        <mat-card-title>jayshetty</mat-card-title>
        <mat-card-subtitle>12 mins ago</mat-card-subtitle>
    </mat-card-header>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="post-action-btn">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditDialog(post)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item>
            <mat-icon>public</mat-icon>
            <span>Public</span>
        </button>
        <button mat-menu-item (click)="onDelete(post)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-menu>
    <img mat-card-image [src]="post.imagePath">
    <mat-card-content class="post-caption">
        <p>{{post.caption}}</p>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions class="post-actions">
        <button mat-button>
        <mat-icon>favorite_border</mat-icon> Like
        </button>
        <span class="spacer"></span>
        <button mat-button>
        <mat-icon>message</mat-icon> Comment
        </button>
    </mat-card-actions>
</mat-card>
