main {
    padding: 1.5rem 0;
    width: 100%;

    @media (min-width: 428px) {
        width: calc(100vw - 200px);
        margin: auto;
    }

    @media (min-width: 769px) {
        width: 50%;
        margin: auto;
    }
}

.spacer {
    flex: 1 1 auto;
}

app-header + main {
    padding-top: 65px;
}