<h2 mat-dialog-title>Edit Post</h2>
<form #editForm="ngForm" (ngSubmit)="onUpdate()">
  <mat-dialog-content class="mat-typography" class="edit-form">
    <img [src]="data.post.imagePath" class="preview-image" />
    <mat-form-field>
      <textarea matTextareaAutosize matInput placeholder="Write a caption..." rows="2" name="caption" #caption="ngModel" ngModel required></textarea>
    </mat-form-field>
    <mat-error></mat-error>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>Update</button>
  </mat-dialog-actions>
</form>
